@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0F0F0F;
  color: #F5F5F5;
  font-family: sans-serif;
}
/* Adicione no final do seu src/index.css */
@keyframes pulse-gold {
  0%, 100% {
    box-shadow: 0 0 5px rgba(197, 160, 89, 0.2);
    border-color: rgba(197, 160, 89, 0.5);
  }
  50% {
    box-shadow: 0 0 20px rgba(197, 160, 89, 0.6);
    border-color: rgba(197, 160, 89, 1);
  }
}

.animate-pulse-gold {
  animation: pulse-gold 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}